<?xml version="1.0" encoding="UTF-8"?>
<!--
<web-app
	version="2.5"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="
		http://java.sun.com/xml/ns/javaee
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd
		">
-->
<web-app
	version="3.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="
		http://xmlns.jcp.org/xml/ns/javaee
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd
		">

	<!-- Welcome File List -->
	<welcome-file-list>
		<!-- welcome-file>index.jsp</welcome-file -->
		<welcome-file>index.do</welcome-file>
	</welcome-file-list>

	<!-- Listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>



	<!-- Context -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/config/spring/context-*.xml</param-value>
	</context-param>




	<!-- Servlet -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/*-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<!-- multipart config
			max-file-size       = 20,971,528 = 1MB * 20
			max-request-size    = 41,943,040 = 40 MB
			file-size-threshold = 20,971,520 = 20 MB
		-->
		<multipart-config>
			<location>/Users/kangmac</location>
			<max-file-size>20971528</max-file-size>
			<max-request-size>41943040</max-request-size>
			<file-size-threshold>20971520</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>





	<!-- Filter: Encoding -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Filter: CORS -->
	<filter>
		<filter-name>CORS</filter-name>
		<filter-class>kr.co.arajeju.aracoupon3.common.filter.SimpleCORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CORS</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>




	<!-- Session config -->
	<session-config>
		<!-- default is 7 days = 60 x 24 x 7 = 10080 -->
		<!-- session-timeout>10080</session-timeout -->
		<session-timeout>10080</session-timeout>
		<!-- this deploys fine into TCServer -->
		<!--
		<cookie-config>
			<path>/</path>
		</cookie-config>
		-->
	</session-config>




	<!-- Error Pages -->
	<error-page>
		<error-code>404</error-code>
		<location>/error/common_error.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/common_error.html</location>
	</error-page>


</web-app>


